.candy-machine {
	background: transparent;
	backdrop-filter: blur(9px);
	width: 92vw;
	transform: translateY(-4.5vh) !important;
	padding: 1rem;
	border-radius: 6px;
	overflow-y: hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border: 1px solid #e6e6e6;
	height: 82vh;
	flex-direction: column;
}

.gif-grid {
	width: 90% !important;
	display: grid;
	text-align: center;
	grid-template-columns: repeat(auto-fit, minmax(5px, 1fr)) !important;
	grid-gap: 100px;
	justify-items: center;
	align-items: center;
	margin: 5px !important;
}

.gif-grid .gif-item {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	font-size: large;
	letter-spacing: 0.2px;
	color: white;
}

.gif-image {
	height: 440px !important;
	border-radius: 10px;
	object-fit: cover;
	margin-bottom: 20px !important;
}
